[user]
	name = Alfie Richards
	email = arichardsdev@gmail.com
[core]
	excludesfile = /Users/alfierichards/.gitignore_global
	autocrlf = input
[commit]
	template = /Users/alfierichards/.stCommitMsg
[alias]
	graph = log --all --graph --decorate --oneline
